<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVERINFO</title>
</head>
<body style="background-color:#423c3c;">
    <div style="margin-left:20%;">
        <h3 style="color:white;">SERVERINFO</h3>
        <div style="margin-left:70px;">
            <h4 style="color:white;">System information:</h4>
                <div style="margin-left:20px;">
                    <ul style="color:#cfbebe;">
                        <li>PROCESSOR:    {{pr}}</li>
                        <li>SYSTEM:       {{sys}}</li>
                        <li>NET_PC:       {{net}}</li>
                        <li>IP_ADRESS_PC: {{ip}}</li>
                    </ul>
                </div>
        </div>
    </div>
</body>
</html>