<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVERINFO</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100;1,200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    </style>
</head>
<body style="background-color:#423c3c;">
    <span style="font-size:15px;color:#ab606e;font-family: 'Montserrat', sans-serif;">Driber control panel</span>
    <div style="margin-left:20%;">
        <h3 style="color:white;font-family: 'Montserrat', sans-serif;">SERVERINFO</h3>
        <div style="margin-left:70px;">
            <h4 style="color:white;font-family: 'Montserrat', sans-serif;">System Information:</h4>
                <div style="margin-left:20px;">
                    <ul style="color:#cfbebe;font-family: 'Montserrat', sans-serif;">
                        <li>{{pr}}</li>
                        <li>{{sys}}</li>
                        <li>{{net}}</li>
                        <li>{{ip}}</li>
                    </ul>
                </div>
        </div>
    </div>
</body>
</html>